<section>
    <header>
        Organizer: <strong>dfghjk</strong>
        <hr />
    </header>

    <main>
        <ul>
            <li class="task">
                <span>
                    <strong>1</strong>
                    fghjk
                </span>
                <button class="btn btn-primary">Remove</button>
            </li>
        </ul>
    </main>

    <footer>
        <form>
            <input type="text">

            <button
                type="submit"
                class="btn btn-primary btn-vlock"
            >Add</button>
        </form>
    </footer>
</section>
